/* CSS Resets */
*, *::before, *::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    -webkit-font-smoothing: antialiased;
    font-family: system-ui, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
}

img {
    display: block;
    max-width: 100%;
}

input, button, textarea, select {
    font: inherit;
}

p, h1, h2, h3, h4, h5, h6 {
    overflow-wrap: break-word;
}

p {
    text-wrap: pretty;
}

h1, h2, h3, h4, h5, h6 {
    text-wrap: balance;
}

/* Begin Styling */

body {
    padding: 0 10%;
}

.info {
    display: flex;
    align-items: center;
}

.header {
    margin-right: auto;
}

.container {
    border: 2px solid gray;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    grid-template-rows: repeat(auto-fit, minmax(200px, 1fr));
    grid-auto-rows: 1fr;
    padding: 8px;
    gap: 8px;
}

.card {
    display: grid;
    border: 2px solid bisque;
    border-radius: 16px;
    padding: 8px;
    gap: 6px;
    grid-auto-rows: 1fr;
}

.item {
    display: grid;
    grid-template-columns: 1fr 3fr;
    gap: 1.5ch;
    border-top: 1px solid lightgray;
    border-bottom: 1px solid lightgray;
    align-content: center;
}

.key {
    text-align: end;
    font-weight: bold;
}

.switch {
    position: relative;
    display: inline-block;
    width: 40px;
    height: 18px;
    align-self: center;
}
  
.switch input {
    opacity: 0;
    width: 0;
    height: 0;
}

.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: lightgray;
    -webkit-transition: .3s;
    transition: .3s;
    border-radius: 18px;
}

.slider:before {
    position: absolute;
    content: "";
    height: 12px;
    width: 12px;
    left: 4px;
    bottom: 3px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
    border-radius: 50%;
}

input:checked + .slider {
    background-color: green;
}

input:focus + .slider {
    box-shadow: 0 0 1px green;
}

input:checked + .slider:before {
    -webkit-transform: translateX(20px);
    -ms-transform: translateX(20px);
    transform: translateX(20px);
}

dialog {
    border: 1px solid lightgrey;
    border-radius: 4px;
    position: absolute;
    width: 400px;
    margin-left: calc(50% - 200px);
    margin-top: calc(50% - 125px);
}

::backdrop {
    background-color: grey;
    opacity: 0.5;
}

form {
    padding: 8px;
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.book-inputs {
    display: grid;
    grid-template-columns: 1fr 3fr;
    gap: 8px;
    align-items: center;
    justify-content: end;
}

input[type="text"],
input[type="number"],
select {
    padding: 2px 4px;
}

.buttons {
    display: grid;
    grid-template-columns: 1fr 1fr 2fr;
    align-items: center;
    justify-content: start;
    gap: 8px;
}