/* CSS Resets */
*, *::before, *::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    -webkit-font-smoothing: antialiased;
    font-family: system-ui, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
}

img {
    display: block;
    max-width: 100%;
}

input, button, textarea, select {
    font: inherit;
}

input {
    appearance: none;
}

p, h1, h2, h3, h4, h5, h6 {
    overflow-wrap: break-word;
}

p {
    text-wrap: pretty;
}

h1, h2, h3, h4, h5, h6 {
    text-wrap: balance;
}

/* Begin Styling */

.container {
    border: 2px solid gray;
    display: grid;
    grid-template-columns: repeat(5, minmax(300px, 1fr));
    padding: 8px;
}

.card {
    display: flex;
    flex-direction: column;
    border: 2px solid bisque;
    border-radius: 16px;
    padding: 8px;
    gap: 6px;
}

.item {
    display: grid;
    grid-template-columns: 1fr 3fr;
    gap: 1.5ch;
    border-top: 1px solid lightgray;
    border-bottom: 1px solid lightgray;
}

.key {
    text-align: end;
    align-content: center;
    font-weight: bold;
}